# Capitulo 1 - A Natureza da econometria e dos dados econômicos

In [1]:
import wooldridge as wr
import pandas as pd
import numpy as np

### C1

In [2]:
df_wage = wr.data('wage1')

In [3]:
df_wage.head()

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

In [4]:
#dataset desc
wr.data('wage1', description=True)

name of dataset: wage1
no of variables: 24
no of observations: 526

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| wage     | average hourly earnings         |
| educ     | years of education              |
| exper    | years potential experience      |
| tenure   | years with current employer     |
| nonwhite | =1 if nonwhite                  |
| female   | =1 if female                    |
| married  | =1 if married                   |
| numdep   | number of dependents            |
| smsa     | =1 if live in SMSA              |
| northcen | =1 if live in north central U.S |
| south    | =1 if live in southern region   |
| west     | =1 if live in western region    |
| construc | =1 if work in construc. indus.  |
| ndurman  | =1 if in nondur. manuf. indus.  |
| trcommpu | =1 if in trans, commun, pub ut  |
| trade    | =1 if in wholesale or retail    |
| services | =1 if in services indus.        |
| profserv | =1 if in prof. serv. indus.     |
| profocc  | =1 if in profess. occupation    |
| clerocc  | =1 if in clerical occupation    |
| servocc  | =1 if in service occupation     |
| lwage    | log(wage)                       |
| expersq  | exper^2                         |
| tenursq  | tenure^2                        |
+----------+---------------------------------+

These are data from the 1976 Current Population Survey, collected by
Henry Farber when he and I were colleagues at MIT in 1988.

In [5]:
#C1.i
print('Educacao Media:', round(df_wage['educ'].mean(),2))
print('Menor nível de educação: ', df_wage['educ'].min())
print('Maior nivel de educação ', df_wage['educ'].max())

Educacao Media: 12.56
Menor nível de educação:  0
Maior nivel de educação  18

In [6]:
#C1.ii

print('Salario-hora medio: $', round(df_wage['wage'].mean(),2))

display(df_wage['wage'].describe())

Salario-hora medio: $ 5.9

count    526.000000
mean       5.896103
std        3.693086
min        0.530000
25%        3.330000
50%        4.650000
75%        6.880000
max       24.980000
Name: wage, dtype: float64

C1.iii: CPI (IPCA no BR) de 1976 era de 56.9 dólares, e 2010 era de 233 dólares.

In [7]:
#C1.iii

#dolar de 1976 no valor de 2013
dol_ratio = 233/56.9

##salario-hora de 2013 
df_wage['wage'].mean()*dol_ratio

24.14397053120174

In [8]:
#C1. iv
print('N de mulheres na amostra: ', df_wage[df_wage['female'] == 1].shape[0])

N de mulheres na amostra:  252