# Chapter 1

In [1]:
import wooldridge as wr
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### C1

In [2]:
df_wage = wr.data('wage1')

In [3]:
df_wage.head()

   wage  educ  exper  tenure  nonwhite  female  married  numdep  smsa  northcen  south  west  construc  ndurman  trcommpu  trade  services  profserv  profocc  clerocc  servocc     lwage  expersq  tenursq
0  3.10    11      2       0         0       1        0       2     1         0      0     1         0        0         0      0         0         0        0        0        0  1.131402        4        0
1  3.24    12     22       2         0       1        1       3     1         0      0     1         0        0         0      0         1         0        0        0        1  1.175573      484        4
2  3.00    11      2       0         0       0        0       2     0         0      0     1         0        0         0      1         0         0        0        0        0  1.098612        4        0
3  6.00     8     44      28         0       0        1       0     1         0      0     1         0        0         0      0         0         0        0        1        0  1.791759     1936      784
4  5.30    12      7       2         0       0        1       1     0         0      0     1         0        0         0      0         0         0        0        0        0  1.667707       49        4

In [4]:
#dataset desc
wr.data('wage1', description=True)

name of dataset: wage1
no of variables: 24
no of observations: 526

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| wage     | average hourly earnings         |
| educ     | years of education              |
| exper    | years potential experience      |
| tenure   | years with current employer     |
| nonwhite | =1 if nonwhite                  |
| female   | =1 if female                    |
| married  | =1 if married                   |
| numdep   | number of dependents            |
| smsa     | =1 if live in SMSA              |
| northcen | =1 if live in north central U.S |
| south    | =1 if live in southern region   |
| west     | =1 if live in western region    |
| construc | =1 if work in construc. indus.  |
| ndurman  | =1 if in nondur. manuf. indus.  |
| trcommpu | =1 if in trans, commun, pub ut  |
| trade    | =1 if in wholesale or retail    |
| services | =1 if in services indus.        |
| profserv | =1 if in prof. serv. indus.     |
| profocc  | =1 if in profess. occupation    |
| clerocc  | =1 if in clerical occupation    |
| servocc  | =1 if in service occupation     |
| lwage    | log(wage)                       |
| expersq  | exper^2                         |
| tenursq  | tenure^2                        |
+----------+---------------------------------+

These are data from the 1976 Current Population Survey, collected by
Henry Farber when he and I were colleagues at MIT in 1988.

In [5]:
#C1.i
print('Mean of years education:', round(df_wage['educ'].mean(),2))
print('Min education level ', df_wage['educ'].min())
print('Max education level ', df_wage['educ'].max())

Mean of years education: 12.56
Min education level  0
Max education level  18

In [6]:
#C1.ii

print('Average hourly-wage: $', round(df_wage['wage'].mean(),2))

display(df_wage['wage'].describe())

Average hourly-wage: $ 5.9

count    526.000000
mean       5.896103
std        3.693086
min        0.530000
25%        3.330000
50%        4.650000
75%        6.880000
max       24.980000
Name: wage, dtype: float64

#### C1.iii

76's CPI was 56.9 dolls, and 233 dol in 2010.

In [7]:
#C1.iv

#dolar de 1976 no valor de 2013
dol_ratio = 233/56.9

##salario-hora de 2013 
df_wage['wage'].mean()*dol_ratio

24.14397053120174

In [8]:
#C1. V
print('Women sample: ', df_wage[df_wage['female'] == 1].shape[0])

Women sample:  252

### C2

In [9]:
df_bw = wr.data('bwght')
df_bw.head()

   faminc  cigtax    cigprice  bwght  fatheduc  motheduc  parity  male  white  cigs    lbwght  bwghtlbs  packs   lfaminc
0    13.5    16.5  122.300003    109      12.0      12.0       1     1      1     0  4.691348    6.8125    0.0  2.602690
1     7.5    16.5  122.300003    133       6.0      12.0       2     1      0     0  4.890349    8.3125    0.0  2.014903
2     0.5    16.5  122.300003    129       NaN      12.0       2     0      0     0  4.859812    8.0625    0.0 -0.693147
3    15.5    16.5  122.300003    126      12.0      12.0       2     1      0     0  4.836282    7.8750    0.0  2.740840
4    27.5    16.5  122.300003    134      14.0      12.0       2     1      1     0  4.897840    8.3750    0.0  3.314186

In [10]:
#dataset desc
wr.data('bwght', description=True)

name of dataset: bwght
no of variables: 14
no of observations: 1388

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| faminc   | 1988 family income, $1000s     |
| cigtax   | cig. tax in home state, 1988   |
| cigprice | cig. price in home state, 1988 |
| bwght    | birth weight, ounces           |
| fatheduc | father's yrs of educ           |
| motheduc | mother's yrs of educ           |
| parity   | birth order of child           |
| male     | =1 if male child               |
| white    | =1 if white                    |
| cigs     | cigs smked per day while preg  |
| lbwght   | log of bwght                   |
| bwghtlbs | birth weight, pounds           |
| packs    | packs smked per day while preg |
| lfaminc  | log(faminc)                    |
+----------+--------------------------------+

J. Mullahy (1997), “Instrumental-Variable Estimation of Count Data
Models: Applications to Models of Cigarette Smoking Behavior,” Review
of Economics and Statistics 79, 596-593. Professor Mullahy kindly
provided the data. He obtained them from the 1988 National Health
Interview Survey.

In [11]:
#C2.i

print("Women sample:", df_bw.shape[0])
print("Women smokers while pregnant:", df_bw[df_bw['packs'] > 0].shape[0] , "(~"+str(round(df_bw[df_bw['packs'] > 0].shape[0]/df_bw.shape[0] *100,2))+"%)")

Women sample: 1388
Women smokers while pregnant: 212 (~15.27%)

In [12]:
#C2 ii
print('Cigs mean per day: ', round(df_bw['cigs'].mean(),2))

Cigs mean per day:  2.09

In [13]:
#C2 iii

smokers_w = df_bw[df_bw['packs'] > 0] #smokers women datset
print('cigs per day in smokers women sample:', round(smokers_w['cigs'].mean(),2))

cigs per day in smokers women sample: 13.67

In [14]:
#C2 iv

df_bw['fatheduc'].mean()

## we have some null values in this column

13.186241610738255

In [15]:
#C2 v

df_bw['faminc'].describe()

count    1388.000000
mean       29.026657
std        18.739285
min         0.500000
25%        14.500000
50%        27.500000
75%        37.500000
max        65.000000
Name: faminc, dtype: float64

### C3

In [16]:
df_m = wr.data('meap01')
df_m.head()

    dcode  bcode      math4      read4      lunch  enroll     expend        exppp   lenroll    lexpend    lexppp
0  1010.0   4937  83.300003  77.800003  40.599998     468  2747475.0  5870.672852  6.148468  14.826193  8.677725
1  2070.0    597  90.300003  82.300003  27.100000     679  1505772.0  2217.631836  6.520621  14.224816  7.704195
2  2080.0   4860  61.900002  71.400002  41.750000     400  2121871.0  5304.677734  5.991465  14.567809  8.576344
3  3010.0    790  85.699997  60.000000  12.750000     251  1211034.0  4824.836426  5.525453  14.006985  8.481532
4  3010.0   1403  77.300003  59.099998  17.080000     439  1913501.0  4358.771973  6.084499  14.464445  8.379946

In [17]:
#dataset desc
wr.data('meap01', description=True)

name of dataset: meap01
no of variables: 11
no of observations: 1823

+----------+-----------------------------------------------+
| variable | label                                         |
+----------+-----------------------------------------------+
| dcode    | district code                                 |
| bcode    | building code                                 |
| math4    | % students satisfactory, 4th grade math       |
| read4    | % students satisfactory, 4th grade reading    |
| lunch    | % students eligible for free or reduced lunch |
| enroll   | school enrollment                             |
| expend   | total spending, $                             |
| exppp    | expenditures per pupil: expend/enroll         |
| lenroll  | log(enroll)                                   |
| lexpend  | log(expend)                                   |
| lexppp   | log(exppp)                                    |
+----------+-----------------------------------------------+

Michigan Department of Education, www.michigan.gov/mde

In [18]:
#C3 i
print('Max math4:', df_m['math4'].max())
print('Min math4:', df_m['math4'].min())

Max math4: 100.0
Min math4: 0.0

In [19]:
#C3 ii
print('N of schools with max in math:', df_m[df_m['math4'] == 100].shape[0], "(~"+str(round(df_m[df_m['math4'] == 100].shape[0]/df_m.shape[0] *100,0))+"%)")

N of schools with max in math: 38 (~2.0%)

In [20]:
#C3 iii

print('N of schools with 50% in math:', df_m[df_m['math4'] == 50].shape[0], "(~"+str(round(df_m[df_m['math4'] == 50].shape[0]/df_m.shape[0] *100,0))+"%)")

N of schools with 50% in math: 17 (~1.0%)

In [21]:
#C3 iv
print('Mean math rate:', df_m['math4'].mean())
print('Mean read rate:', df_m['read4'].mean())

Mean math rate: 71.90899606805154
Mean read rate: 60.06187602862904

In [22]:
#C3 v

print(df_m['math4'].corr(df_m['read4']))

0.8427281457721153

In [23]:
#C3 vi

print(df_m['exppp'].mean())
print(df_m['exppp'].std())

5194.865478314741
1091.8895972167838

In [24]:
#C3 vii


print((6000 / 5500 - 1) * 100)


print(100 * (np.log(6000) - np.log(5500)))

9.090909090909083
8.701137698962924

### C4

In [25]:
df_jtrain = wr.data('jtrain2')
df_jtrain.head()

   train  age  educ  black  hisp  married  nodegree  mosinex  re74  re75      re78  unem74  unem75  unem78  lre74  lre75     lre78  agesq  mostrn
0      1   37    11      1     0        1         1       13   0.0   0.0   9.93005       1       1       0    0.0    0.0  2.295566   1369      13
1      1   22     9      0     1        0         1       13   0.0   0.0   3.59589       1       1       0    0.0    0.0  1.279792    484      13
2      1   30    12      1     0        0         0       13   0.0   0.0  24.90950       1       1       0    0.0    0.0  3.215249    900      13
3      1   27    11      1     0        0         1       13   0.0   0.0   7.50615       1       1       0    0.0    0.0  2.015723    729      13
4      1   33     8      1     0        0         1       13   0.0   0.0   0.28979       1       1       0    0.0    0.0 -1.238599   1089      13

In [26]:
#dataset desc
wr.data('jtrain2', description=True)

name of dataset: jtrain2
no of variables: 19
no of observations: 445

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| train    | =1 if assigned to job training  |
| age      | age in 1977                     |
| educ     | years of education              |
| black    | =1 if black                     |
| hisp     | =1 if Hispanic                  |
| married  | =1 if married                   |
| nodegree | =1 if no high school degree     |
| mosinex  | # mnths prior to 1/78 in expmnt |
| re74     | real earns., 1974, $1000s       |
| re75     | real earns., 1975, $1000s       |
| re78     | real earns., 1978, $1000s       |
| unem74   | =1 if unem. all of 1974         |
| unem75   | =1 if unem. all of 1975         |
| unem78   | =1 if unem. all of 1978         |
| lre74    | log(re74); zero if re74 == 0    |
| lre75    | log(re75); zero if re75 == 0    |
| lre78    | log(re78); zero if re78 == 0    |
| agesq    | age^2                           |
| mostrn   | months in training              |
+----------+---------------------------------+

R.J. Lalonde (1986), “Evaluating the Econometric Evaluations of
Training Programs with Experimental Data,” American Economic Review
76, 604-620. Professor Jeff Biddle, at MSU, kindly passed the data set
along to me. He obtained it from Professor Lalonde.

In [27]:
#C4 i

df_jtrain['train'].value_counts(normalize = True)[1]

0.4157303370786517

In [28]:
#c4 ii
jtrain_treat = df_jtrain[df_jtrain['train'] == 1] ##assigned to job training dataset
jtrain_control = df_jtrain[df_jtrain['train'] == 0]

print(jtrain_treat['re78'].mean())
print(jtrain_control['re78'].mean())

print('diff: ', jtrain_treat['re78'].mean() - jtrain_control['re78'].mean())
print('The difference is ~ US$1,8k.')

6.349145357189951
4.554802284088845
diff:  1.794343073101106
The difference is ~ US$1,8k.

In [29]:
#C4 iii
print(jtrain_treat['unem78'].value_counts(normalize = True)[1])
print(jtrain_control['unem78'].value_counts(normalize = True)[1])

print('around 35% in control group (not assigned to training) were unemployed versus 24% in control group.')

0.24324324324324326
0.35384615384615387
around 35% in control group (not assigned to training) were unemployed versus 24% in control group.

### C5

In [30]:
df_fertil = wr.data('fertil2')
display(df_fertil.head())

#dataset desc
display(wr.data('fertil2', description=True))

   mnthborn  yearborn  age  electric  radio   tv  bicycle  educ  ceb  agefbrth  children  knowmeth  usemeth  monthfm  yearfm  agefm  idlnchld  heduc  agesq  urban  urb_educ  spirit  protest  catholic  frsthalf  educ0  evermarr
0         5        64   24       1.0    1.0  1.0      1.0    12    0       NaN         0       1.0      0.0      NaN     NaN    NaN       2.0    NaN    576      1        12       0        0         0         1      0         0
1         1        56   32       1.0    1.0  1.0      1.0    13    3      25.0         3       1.0      1.0     11.0    80.0   24.0       3.0   12.0   1024      1        13       0        0         0         1      0         1
2         7        58   30       1.0    0.0  0.0      0.0     5    1      27.0         1       1.0      0.0      6.0    83.0   24.0       5.0    7.0    900      1         5       1        0         0         0      0         1
3        11        45   42       1.0    0.0  1.0      0.0     4    3      17.0         2       1.0      0.0      1.0    61.0   15.0       3.0   11.0   1764      1         4       0        0         0         0      0         1
4         5        45   43       1.0    1.0  1.0      1.0    11    2      24.0         2       1.0      1.0      3.0    66.0   20.0       2.0   14.0   1849      1        11       0        1         0         1      0         1

name of dataset: fertil2
no of variables: 27
no of observations: 4361

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| mnthborn | month woman born               |
| yearborn | year woman born                |
| age      | age in years                   |
| electric | =1 if has electricity          |
| radio    | =1 if has radio                |
| tv       | =1 if has tv                   |
| bicycle  | =1 if has bicycle              |
| educ     | years of education             |
| ceb      | children ever born             |
| agefbrth | age at first birth             |
| children | number of living children      |
| knowmeth | =1 if know about birth control |
| usemeth  | =1 if ever use birth control   |
| monthfm  | month of first marriage        |
| yearfm   | year of first marriage         |
| agefm    | age at first marriage          |
| idlnchld | 'ideal' number of children     |
| heduc    | husband's years of education   |
| agesq    | age^2                          |
| urban    | =1 if live in urban area       |
| urb_educ | urban*educ                     |
| spirit   | =1 if religion == spirit       |
| protest  | =1 if religion == protestant   |
| catholic | =1 if religion == catholic     |
| frsthalf | =1 if mnthborn <= 6            |
| educ0    | =1 if educ == 0                |
| evermarr | =1 if ever married             |
+----------+--------------------------------+

These data were obtained by James Heakins, a former MSU undergraduate,
for a term project. They come from Botswana’s 1988 Demographic and
Health Survey.

None

In [31]:
# C5 i
print('n max of children:', df_fertil['children'].max())
print('n min of children:', df_fertil['children'].min())

n max of children: 13
n min of children: 0

In [32]:
# C5 ii

df_fertil['electric'].value_counts(normalize = True)[1]

0.14020192748967417

In [33]:
# C5 iii

fertil_elec = df_fertil[df_fertil['electric'] == 1]
fertil_nelec = df_fertil[df_fertil['electric'] == 0]

print('Mean of children in sample with electric:', fertil_elec['children'].mean())
print('Mean of children in sample without electric:', fertil_nelec['children'].mean())

Mean of children in sample with electric: 1.8985270049099836
Mean of children in sample without electric: 2.327728849746464