# Chapter 1

In [48]:
import wooldridge as wr
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### C1

In [2]:
df_wage = wr.data('wage1')

In [49]:
df_wage.head()

   wage  educ  exper  tenure  nonwhite  female  married  numdep  smsa  northcen  south  west  construc  ndurman  trcommpu  trade  services  profserv  profocc  clerocc  servocc     lwage  expersq  tenursq
0  3.10    11      2       0         0       1        0       2     1         0      0     1         0        0         0      0         0         0        0        0        0  1.131402        4        0
1  3.24    12     22       2         0       1        1       3     1         0      0     1         0        0         0      0         1         0        0        0        1  1.175573      484        4
2  3.00    11      2       0         0       0        0       2     0         0      0     1         0        0         0      1         0         0        0        0        0  1.098612        4        0
3  6.00     8     44      28         0       0        1       0     1         0      0     1         0        0         0      0         0         0        0        1        0  1.791759     1936      784
4  5.30    12      7       2         0       0        1       1     0         0      0     1         0        0         0      0         0         0        0        0        0  1.667707       49        4

In [4]:
#dataset desc
wr.data('wage1', description=True)

name of dataset: wage1
no of variables: 24
no of observations: 526

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| wage     | average hourly earnings         |
| educ     | years of education              |
| exper    | years potential experience      |
| tenure   | years with current employer     |
| nonwhite | =1 if nonwhite                  |
| female   | =1 if female                    |
| married  | =1 if married                   |
| numdep   | number of dependents            |
| smsa     | =1 if live in SMSA              |
| northcen | =1 if live in north central U.S |
| south    | =1 if live in southern region   |
| west     | =1 if live in western region    |
| construc | =1 if work in construc. indus.  |
| ndurman  | =1 if in nondur. manuf. indus.  |
| trcommpu | =1 if in trans, commun, pub ut  |
| trade    | =1 if in wholesale or retail    |
| services | =1 if in services indus.        |
| profserv | =1 if in prof. serv. indus.     |
| profocc  | =1 if in profess. occupation    |
| clerocc  | =1 if in clerical occupation    |
| servocc  | =1 if in service occupation     |
| lwage    | log(wage)                       |
| expersq  | exper^2                         |
| tenursq  | tenure^2                        |
+----------+---------------------------------+

These are data from the 1976 Current Population Survey, collected by
Henry Farber when he and I were colleagues at MIT in 1988.

In [32]:
#C1.i
print('Mean of years education:', round(df_wage['educ'].mean(),2))
print('Min education level ', df_wage['educ'].min())
print('Max education level ', df_wage['educ'].max())

Mean of years education: 12.56
Min education level  0
Max education level  18

In [33]:
#C1.ii

print('Average hourly-wage: $', round(df_wage['wage'].mean(),2))

display(df_wage['wage'].describe())

Average hourly-wage: $ 5.9

count    526.000000
mean       5.896103
std        3.693086
min        0.530000
25%        3.330000
50%        4.650000
75%        6.880000
max       24.980000
Name: wage, dtype: float64

#### C1.iii

76's CPI was 56.9 dolls, and 233 dol in 2010.

In [34]:
#C1.iv

#dolar de 1976 no valor de 2013
dol_ratio = 233/56.9

##salario-hora de 2013 
df_wage['wage'].mean()*dol_ratio

24.14397053120174

In [35]:
#C1. V
print('Women sample: ', df_wage[df_wage['female'] == 1].shape[0])

Women sample:  252

### C2

In [36]:
df_bw = wr.data('bwght')
df_bw.head()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.300003,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.300003,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.300003,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.300003,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.300003,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186

In [37]:
#dataset desc
wr.data('bwght', description=True)

name of dataset: bwght
no of variables: 14
no of observations: 1388

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| faminc   | 1988 family income, $1000s     |
| cigtax   | cig. tax in home state, 1988   |
| cigprice | cig. price in home state, 1988 |
| bwght    | birth weight, ounces           |
| fatheduc | father's yrs of educ           |
| motheduc | mother's yrs of educ           |
| parity   | birth order of child           |
| male     | =1 if male child               |
| white    | =1 if white                    |
| cigs     | cigs smked per day while preg  |
| lbwght   | log of bwght                   |
| bwghtlbs | birth weight, pounds           |
| packs    | packs smked per day while preg |
| lfaminc  | log(faminc)                    |
+----------+--------------------------------+

J. Mullahy (1997), “Instrumental-Variable Estimation of Count Data
Models: Applications to Models of Cigarette Smoking Behavior,” Review
of Economics and Statistics 79, 596-593. Professor Mullahy kindly
provided the data. He obtained them from the 1988 National Health
Interview Survey.

In [38]:
#C2.i

print("Women sample:", df_bw.shape[0])
print("Women smokers while pregnant:", df_bw[df_bw['packs'] > 0].shape[0] , "(~"+str(round(df_bw[df_bw['packs'] > 0].shape[0]/df_bw.shape[0] *100,2))+"%)")

Women sample: 1388
Women smokers while pregnant: 212 (~15.27%)

In [41]:
#C2 ii
print('Cigs mean per day: ', round(df_bw['cigs'].mean(),2))

Cigs mean per day:  2.09

In [43]:
#C2 iii

smokers_w = df_bw[df_bw['packs'] > 0] #smokers women datset
print('cigs per day in smokers women sample:', round(smokers_w['cigs'].mean(),2))

cigs per day in smokers women sample: 13.67

In [46]:
#C2 iv

df_bw['fatheduc'].mean()

## we have some null values in this column

13.186241610738255

In [47]:
#C2 v

df_bw['faminc'].describe()

count    1388.000000
mean       29.026657
std        18.739285
min         0.500000
25%        14.500000
50%        27.500000
75%        37.500000
max        65.000000
Name: faminc, dtype: float64

### C3

In [54]:
df_m = wr.data('meap01')
df_m.head()

    dcode  bcode      math4      read4      lunch  enroll     expend        exppp   lenroll    lexpend    lexppp
0  1010.0   4937  83.300003  77.800003  40.599998     468  2747475.0  5870.672852  6.148468  14.826193  8.677725
1  2070.0    597  90.300003  82.300003  27.100000     679  1505772.0  2217.631836  6.520621  14.224816  7.704195
2  2080.0   4860  61.900002  71.400002  41.750000     400  2121871.0  5304.677734  5.991465  14.567809  8.576344
3  3010.0    790  85.699997  60.000000  12.750000     251  1211034.0  4824.836426  5.525453  14.006985  8.481532
4  3010.0   1403  77.300003  59.099998  17.080000     439  1913501.0  4358.771973  6.084499  14.464445  8.379946

In [51]:
#dataset desc
wr.data('meap01', description=True)

name of dataset: meap01
no of variables: 11
no of observations: 1823

+----------+-----------------------------------------------+
| variable | label                                         |
+----------+-----------------------------------------------+
| dcode    | district code                                 |
| bcode    | building code                                 |
| math4    | % students satisfactory, 4th grade math       |
| read4    | % students satisfactory, 4th grade reading    |
| lunch    | % students eligible for free or reduced lunch |
| enroll   | school enrollment                             |
| expend   | total spending, $                             |
| exppp    | expenditures per pupil: expend/enroll         |
| lenroll  | log(enroll)                                   |
| lexpend  | log(expend)                                   |
| lexppp   | log(exppp)                                    |
+----------+-----------------------------------------------+

Michigan Department of Education, www.michigan.gov/mde

In [55]:
#C3 i
print('Max math4:', df_m['math4'].max())
print('Min math4:', df_m['math4'].min())

Max math4: 100.0
Min math4: 0.0

In [63]:
#C3 ii
print('N of schools with max in math:', df_m[df_m['math4'] == 100].shape[0], "(~"+str(round(df_m[df_m['math4'] == 100].shape[0]/df_m.shape[0] *100,0))+"%)")

N of schools with max in math: 38 (~2.0%)

In [64]:
#C3 iii

print('N of schools with 50% in math:', df_m[df_m['math4'] == 50].shape[0], "(~"+str(round(df_m[df_m['math4'] == 50].shape[0]/df_m.shape[0] *100,0))+"%)")

N of schools with 50% in math: 17 (~1.0%)

In [65]:
#C3 iv
print('Mean math rate:', df_m['math4'].mean())
print('Mean read rate:', df_m['read4'].mean())

Mean math rate: 71.90899606805154
Mean read rate: 60.06187602862904

In [66]:
#C3 v

print(df_m['math4'].corr(df_m['read4']))

0.8427281457721153

In [68]:
#C3 vi

print(df_m['exppp'].mean())
print(df_m['exppp'].std())

5194.865478314741
1091.8895972167838

In [ ]:
#C3 vii